@import "common.less";

.create {
  margin: 0px;
  margin-top: -10px;
  padding: 20px 0px;
  border-radius: 2px;

  .container{
    h1 {
      text-shadow: 2px 2px 1px white;
    }
  }
}

.createContainer {
  border-color: transparent;
  background-color: #d9eef2;
  padding: 0px 20px 20px 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.createHeader {
  margin-bottom: 20px;
}

.btnControl {
  .createBtn(@golden, 35%, 18px)
}

.btnControl {
  width: 70%;
  height: 50px; 
  font-size: 23px!important;
  margin: 20px;
}

.btnBlue {
  .createBtn(#6dc395, 15%, 20px)
}

.btnBlue {
  text-shadow: 2px 1px 1px white;
  width: 80%;
  margin-top: 20px;
}

.btnContainer {
  text-align: center;
}

.fbImportButton {
  padding: 10px;
  font-size: 18px;
  line-height: 30px;
  margin: 0px;
}

.profileImage {
  width: 200px;
  height: auto;
  border-radius: 2px;
  border: 1px grey solid;
}

.inputFields {
  textarea {
    width: 100%;
  }

  input {
    width: 100%;
  }
}

.socialImportButton {
  margin-top: 20px;
}
